/* Default CSS variables moved out of inline styles to eliminate inline-style warnings */
.sidebar-vars {
  --sidebar-width: 16rem;
  --sidebar-width-icon: 3rem;
}

.sidebar-vars-mobile {
  --sidebar-width: 18rem;
}